* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
}