@import url('../reset.css');


:root {
    --color-background: #F6F8F9;
    --color-dark-gray: #666F78;
    --color-dark-blue: #2B3441;
    --color-purple: #7573F6;
}

html {
    font-family: 'Helvetica', sans-serif;
}

.enterprise {
    position: relative;
    max-width: 1200px;
    padding: 80px 60px;
    margin: 100px auto;
    background-color: var(--color-background);
}

.enterprise-content {
    width: 32%;
}

.enterprise-image img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
}

.enterprise-subtitle {
    font-weight: bold;
    color: var(--color-dark-gray);
    font-size: 13px;
}

.enterprise-title {
    color: var(--color-dark-blue);
    font-size: 34px;
    margin: 30px 0;
}

.enterprise-text {
    color: var(--color-dark-gray);
    line-height: 1.8;
    font-size: 18px;
}

.btn {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    margin-top: 25px;
}

.enterprise-contact-btn {
    background-color: var(--color-purple);
    color: white;
    margin-right: 10px;
    border: 1px solid var(--color-purple);
}

.enterprise-learn-more-btn {
    background-color: var(--color-background);
    border: 1px solid var(--color-dark-blue);
}


