html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

blockquote {
    border-left: 3px solid rgb(221,221,221);
    font-style: italic;
}

thead th {
    background-color: #CCCCCC;
}

table td {
    border: 1px solid #CCCCCC;
}

table {
    width: 900px;
}

tr:nth-child(odd) {
    background-color: #F1F1F1;
}

blockquote.quote-author {
    text-align: right;
}