@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600;700&display=swap');
@import url('./components.css');

:root {
    --color-light-grey: #EFEFEF;
    --color-dark-grey: #909090;
    --section-margin: 2rem;
}

html {
    font-family: 'Raleway', sans-serif;
}


/* header style */

.header {
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    padding: 1.25rem;
    margin: var(--section-margin);
    margin-bottom: 0;
    margin-top: 3rem;
    background-color: var(--color-light-grey);
}

.header__nav {
}

.header__nav li {
    display: inline-block;
    list-style: none;
}

.header__nav li a {
    text-decoration: none;
    margin-right: 1rem;
    color: black;
}

.header__nav .nav__bars {
    font-size: 1.25rem;
}

/* end header style */

.welcome {
    position: relative;
    background-color: var(--color-light-grey);
    margin: var(--section-margin);
    margin-top: 0;
    height: 85vh;
}

.welcome__img {
    position: absolute;
    bottom: 0;
    right: 4rem;
}

.welcome__title {
    font-size: 3rem;
    font-weight: 700;
}

.welcome__title span {
    font-weight: 100;
}

.welcome__description {
    width: 600px;
}

.welcome__content {
    position: absolute;
    top: 30%;
    left: 23%;
    transform: translate(-50%, -50%);
}

.welcome__description::after {
    content: '';
    width: 1px;
    height: 126px;
    background-color: black;
    border-bottom: solid 1px black;
    position: absolute;
    left: 0;
    top: 120%;
}

.autobiography {
    position: relative;
    background-color: var(--color-light-grey);
    margin: var(--section-margin);
    height: 85vh;
}

.autobiography__img {
    position: absolute;
    top: 20%;
    left: 8%;
}

.autobiography__content {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.autobiography__title {
    margin-left: 5.5rem;
}

.autobiography__title::before {
    content: '';
    width: 70px;
    border-bottom: solid 1px black;
    position: absolute;
    left: 0;
    top: 5%;
    z-index: 1;
}

.autobiography__description {
    margin-top: 4rem;
}

.autobiography__contacts a{
    font-size: 1rem;
    background-color: var(--color-dark-grey);
    color: white;
    padding: 0.25rem 0.5rem;
    margin-right: 1rem;
    
}

.autobiography__contacts {
    margin-top: 2rem;
}


.big-photo {
    background-color: var(--color-light-grey);
    margin: var(--section-margin);
    height: 85vh;
}

.big-photo img {
    width: 100%;
    height: 100%;
}


.photography {
    position: relative;
    background-color: var(--color-light-grey);
    margin: var(--section-margin);
    height: 85vh;
}

.photography__img {
    width: 800px;
    position: absolute;
    right: 7rem;
    top: 20%;
}

.photography__content {
    position: absolute;
    width: 600px;
    top: 25%;
    left: 10%;
    
}

.photography__content::after {
    content: '';
    width: 1px;
    height: 126px;
    background-color: black;
    border-bottom: solid 1px black;
    position: absolute;
    left: 0;
    top: 120%;
}

.photos {
    position: relative;
    background-color: var(--color-light-grey);
    margin: var(--section-margin);
    height: 85vh;
}

.photos .photo {
    position: absolute;
}

.photos__second {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    z-index: 4;
}

.photos__first {
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 800px;
    z-index: 4;
}

.photos__third {
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 800px;
    z-index: 2;
}

.ask-us {
    position: relative;
    background-color: var(--color-light-grey);
    margin: var(--section-margin);
    margin-top: 0;
    height: 85vh;
}

.ask-us__title {
    padding-top: 4rem;
    text-align: center;
}

.ask-us__description {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2.5rem;
}
