@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600;700&display=swap');
@import url('reset.css');
:root {
    --color-light-grey: #EFEFEF;
    --color-dark-grey: #909090;
    --section-margin: 2rem;
}

html {
    font-family: 'Raleway', sans-serif;
}


/* header style */

.header {
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    padding: 1.25rem;
    margin: var(--section-margin);
    margin-bottom: 0;
    margin-top: 3rem;
    background-color: var(--color-light-grey);
}

.header__nav {
}

.header__nav li {
    display: inline-block;
    list-style: none;
}

.header__nav li a {
    text-decoration: none;
    margin-right: 1rem;
    color: black;
}

.header__nav .nav__bars {
    font-size: 1.25rem;
}

/* end header style */

.welcome {
    position: relative;
    background-color: var(--color-light-grey);
    margin: var(--section-margin);
    margin-top: 0;
    height: 85vh;
}

.welcome__img {
    position: absolute;
    bottom: 0;
    right: 4rem;
}

.welcome__title {
    font-size: 3rem;
    font-weight: 700;
}

.welcome__title span {
    font-weight: 100;
}

.welcome__description {
    font-weight: 500;
    width: 600px;
    font-style: italic;
    margin-top: 2.2rem;
    letter-spacing: 2px;
    line-height: 1.5rem;
}

.welcome__content {
    position: absolute;
    top: 30%;
    left: 23%;
    transform: translate(-50%, -50%);
}

.welcome__description::after {
    content: '';
    width: 1px;
    height: 126px;
    background-color: black;
    border-bottom: solid 1px black;
    position: absolute;
    left: 0;
    top: 120%;
}