span {
    border: 1px solid black;
    padding: 1rem;
    width: 1rem;
}

.container {
    max-width: 15vw;
    height: 35rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

span {
    order: 50;
}


span:nth-child(11) {
    order: 2;
}

span:nth-child(2) {
    order: 3;
}

span:nth-child(12) {
    order: 4;
}

span:nth-child(4) {
    order: 5;
}

span:nth-child(8) {
    order: 6;
}

span:nth-child(9) {
    order: 7;
}

span:nth-child(6) {
    order: 8;
}

span:nth-child(5) {
    order: 9;
}

span:nth-child() {
    order: 50;
}

span:nth-child() {
    order: 50;
}

span:nth-child() {
    order: 50;
}

span:nth-child() {
    order: 50;
}