@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", serif;
}

h1, h2, h3, h4 ,h5 {
    font-family: "Montserrat", serif;
    color: rgb(95, 95, 95);
}

section {
    margin: 140px 300px;
}

h2 {
    margin: 0;
    line-height: 1.5;

}

p {
    color: grey;
}

.content {
    display: inline-block;
    width: 50%;
}

.image {
    display: inline-block;
    width: 43%;
    vertical-align: top;
}

.benefit-img {
    width: 70px;
}

.benefits {
    list-style: none;
    padding-left: 0;
}

.benefit {
    display: flex;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    width: 65%;
}
