.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 16rem;
}

.nav__list-item {
    display: inline-block;
}

.nav__list-item a {
    text-decoration: none;
    color: #102955;
    font-weight: bold;
    margin-right: 2rem;
}

