/* TODO: style the html */

body {
    background-color: #02475e;
}

article {
    color: white;
    width: 700px;
    margin: 12px;
    text-align: center;
}

article h2 {
    color: #fefecc;
    font-size: 36px;
}

/* article div {
    margin-bottom: 30px;
    position: relative;
    border: 2px solid white;
    height: 0.01px;
    margin-top: 30px;
} */




/* article div span {
    background-color: white;
    color: black;
    width: 120px;
    font-size: 14px;
    text-align: center;

    padding: 5px 20px;
} */


article div {
    margin-bottom: 30px;
    border: 2px solid #fff;
    position: relative;
    top: 20px;
    height: 0;
}

article div span {
    width: 120px;
    font-size: 14px;
    padding: 3px 5px;
    margin: 0 auto;
    background-color: #fff;
    display: block;
    position: relative;
    top: -11px;
    color: black;

}

article p {
    color: #eee;
    font-family: Arial, sans-serif;
    line-height: 24px;
    padding: 10px;
    text-indent: 30px;
}

