* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.header {
    margin: 0 30px;
    display: flex;
}

.header-nav {
    margin-left: auto;
}

.header-nav ul {
    list-style: none;
}

.header-nav li {
    display: inline-block;
    background-color: rgb(235, 235, 235);
}

.header-nav li a {
    display: block;
    text-decoration: none;
    color: rgb(77, 76, 76);
    padding: 1rem 1.5rem;
}

.header-nav li a:hover {
    background-color: rgb(224, 91, 2);
    color: white;
}

.header-subtitle {
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
}

.header-title::after {
    content: '';
    position: absolute;
    background-color: grey;
    width: 1px;
    height: 36px;
    margin-left: 14px;
}

.intro-img {
    overflow: hidden;
}

.intro-img img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.intro-content {
    display: inline-block;
    background-color: rgb(224, 91, 2);
    margin-top: -8px;
    padding: 80px 160px;
    color: white;
    line-height: 2;
    line-break:strict;
    text-align: center;
}

.intro-content a {
    color: white;
}


.benefits-section {
    display: inline-block;
    background-color: rgb(85, 85, 85);
    padding: 50px;
}

.benefits {
    list-style: none;
    text-align: center;
}

.benefit {
    display: inline-block;
    width: 20%;
    margin-right: 30px;
}

.benefit-title {
    position: relative;
    color: white;
}

.benefit-content {
    color: gray;
    margin-top: 40px;
}

.benefit-icon {
    color: white;
    font-size: 48px;
    background-color: rgb(224, 91, 2);
    padding: 1rem;
}

.benefit-title::after {
    content: '';
    width: 100%;
    position: absolute;
    background-color: darkgray;
    left: 0;
    bottom: -18px;
    height: 1px;
}

.use-services {
    text-align: center;
    margin: 90px 180px;
}

.use-services-title {
    color: rgb(77, 76, 76);   
    margin-bottom: 0;
}

.use-services-content {
    color: rgb(163, 157, 157);
    margin-top: 6px;
}

.use-services-cta {
    background-color: rgba(10, 122, 53, 0.596);
    color: white;
    border: none;
    padding: 12px 28px
}


.second-benefit-section {
    display: inline-block;
    background-color: rgb(85, 85, 85);
    padding: 50px;
}

.second-benefits {
    list-style: none;
    text-align: center;
}

.second-benefit {
    display: inline-block;
    width: 20%;
    margin-right: 30px;
}

.second-benefit-title {
    position: relative;
    color: white;
}

.second-benefit-content {
    color: gray;
    margin-top: 40px;
}

.footer {
    padding: 90px 180px;
    background-color: rgba(10, 122, 53, 0.596);
}

.footer-content {
    text-align: center;
    color: rgb(186, 243, 198);
    letter-spacing: 3px;
    opacity: 1px;
}

.footer-content a {
    text-decoration: none;
    color: rgb(141, 252, 137);
}