/* TODO: style the html */

body {
    background-color: lightslategray;
}

p {
    background-color: #0F4069;
    color: whitesmoke;
    border: 2px solid #e6eaef;
    width: 300px;
    padding: 20px;
    margin: auto;
    border-top-left-radius: 30px;
    border-radius: 50px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}