body {
    margin: 0;

}

.wrapper {
    width: 600px;
    background-color: #E4E978;
    padding: 10px;
}

.post-content, .comment-section-article {
    background-color: #F2F4C0;
    border: 1px solid #5c6e91;
    margin-bottom: 15px;
    padding-left: 10px;
}

.comment-section-article {
    font-style: italic;
    color: #5c6e91;
}


